body {
  background-color: #FFFFFF;
  font-family: "Times New Roman", Times, serif
}

table {
  font-family: "Times New Roman", Times, serif
}

code {
  font-family: "Courier New", Courier, mono
}

.HighlightedFrameBorder {
  background-color: #000000;
  text-align: center
}

.HighlightedFrameBackground {
  background-color: #CCCCCC;
  text-align: center
}

.DimmedFrameBorder {
  background-color: #000000;
  text-align: center
}

.DimmedFrameBackground {
  background-color: #FFFFFF;
  text-align: center
}

h1 {
  font-weight: bold;
  color: #FF0000;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: bold;
  text-align: left
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  text-align: left
}

p {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  text-indent: 2em
}

td {
  font-family: "Times New Roman", Times, serif
}

.NavBar {
  background-color: #CCCCFF;
  text-align: center;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto
}

dl {
  text-align: left;
}

ul {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  margin-left: -1.33em;
}

.TopicContent {
  text-align: center;
  vertical-align: top
}

pre.example {
  background: #dddddd;
  padding: 2pt,4pt;
  margin-left: 2em;
  text-align: left;
  color: #000000
}

.BackToTop {
  text-indent: 0em
}
